<script type="text/ng-template" ng-app="wordCardapp" ng-controller="wordcardEditorController as $ctrl" id="wordcard">
    <style type="text/css">
    .filters-container {
        padding: 8px 10px 4px 18px;
        background: #f1f1f1;
    }
    
    .textWrapper {
        font-size: 26px;
        overflow-x: auto;
        white-space: nowrap;
        background-color: #efefef;
        height: 75px;
        display: flex;
        align-items: center;
    }
    
    .helptext {
        color: #ccc;
    }
    
    .words-div: {
        width: 100%;
    }
    
    .words-list {
        width: 22%;
        float: left;
        margin: 4px;
    }
    
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    
    .panel-heading {
        border: 0px;
        color: #000;
        background: #BAD9D4;
        padding: 15px 3px;
    }
    
    .panel-body {
        padding: 0px;
    }
    
    #div1 {
        float: left;
        margin: 10px;
        padding: 10px;
        border: solid 2px;
        border-color: #C0C0C0;
    }
    
    .dragDiv {
        margin: 20px;
    }
    
    .cursor-pointer {
        cursor: pointer;
        padding: 0px 0px;
    }
    
    .error-msg {
        color: red;
    }
    </style>
    <div class="ui modal large active" style="top: 10% !important;">
        <div class="content">
            <div class="ui mini one steps">
                <div class="active step">
                    <i class="browser icon"></i>
                    <div class="content">
                        <div class="title">Word card browser</div>
                        <div class="description">Type the word to search </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ui two column horizontally padded grid">
                    <div class="two wide column left floated">
                        <div class="row" style="height: 50vh; overflow-y: scroll; padding-top:20px;">
                            <div class="ui form">
                                <div class="field">
                                    <label>Selected Words:</label>
                                </div>
                                <div class="field" ng-repeat="oneWord in $ctrl.wordData">
                                    {{oneWord.lemma}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column right floated">
                        <div class="row" style="height: 50vh; overflow-y: auto; padding-top:20px;">
                            <div class="ui grid form">
                                <div class="twelve wide column">
                                    <div class="field">
                                        <label>Select the information you may want to add:</label>
                                    </div>
                                </div>
                                <div class="four wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.configData.meaning" name="meaning">
                                            <label>Meaning</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.configData.audio" name="audio">
                                            <label>Audio</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.configData.picture" name="picture">
                                            <label>Picture</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.configData.exampleUsage" name="exampleUsage">
                                            <label>Example Usage(s)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="six wide column">
                                    <div class="field">
                                        <div class="ui fluid labeled input">
                                            <div class="ui label">Translations</div>
                                            <select multiple="multiple" class="ui fluid dropdown" ng-model="$ctrl.selectedLanguages" ng-options="lang.code as lang.name for lang in $ctrl.languages">
                                                <option value="">
                                                    Languages
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="four wide column right floated">
                        1. Type the word</br>
                        2. Click on 'Next' button to see list of related words.</br>
                        3. Select one word to display.</br>
                        4. Only one word will be displayed on each stage.</br> If more than one word has been selected, only the first selected word will be displayed.</br>
                        5. Click on 'Lesson' button to add the word to the lesson.</br>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui buttons">
                <button class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
                <div class="or"></div>
                <button class="ui blue button" type="button" ng-click="$ctrl.nextSetConfig()">NEXT</button>
            </div>
        </div>
    </div>
